<div class="container marketing">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <h1 class="text-center text-info"> Notre équipe</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6">
      <div class="panel panel-default text-left">
        <div class="panel-body">
          <p>
            Notre CEO, CTO, CFO, mais aussi notre Chief Happyness Officer préféré :
            Nicolas Cubilier, AKA 0xKubitus
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

